<h2>My Items</h2>
<app-item-search></app-item-search>


<ul class="items">
  <li *ngFor="let item of items">
    <a routerLink="/item-detail/{{item.id}}">
      <span class="badge">{{item.id}}</span> {{item.name}}
    </a>
    <button mat-stroked-button color="accent"  class="delete" title="delete item"
    (click)="delete(item)">X</button>
  </li>
</ul>   

<div>
  <label for="new-item"> </label>
  <input matInput placeholder="Item name" id="new-item" #itemName />
  <button mat-stroked-button color="accent" class="add-button" (click)="add(itemName.value); itemName.value=''">
    Add Item
  </button>
</div>

<app-item-detail [item]="selectedItem"></app-item-detail>