/* AppComponent's private CSS styles */
h1 {
  margin-bottom: 0;
}

nav {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 50px;
}

nav a {
  padding: 1rem;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #FFFFFF;
  border: 2px solid #1A5276;
  color: #3d3d3d;
  border-radius: 4px;
  margin: 4px;
}

nav a:hover {
  color: white;
  background-color: #42545C;
}
nav a.active {
  background-color: black;
}